<div id="<%= dom_id booking %>">
  <p>
    <strong>Roundtrip:</strong>
    <%= booking.roundtrip %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= booking.departure_date %>
  </p>

  <p>
    <strong>Return date:</strong>
    <%= booking.return_date %>
  </p>

  <p>
    <strong>Departure airport:</strong>
    <%= booking.departure_airport %>
  </p>

  <p>
    <strong>Destination airport:</strong>
    <%= booking.destination_airport %>
  </p>

  <p>
    <strong>Flight class:</strong>
    <%= booking.flight_class %>
  </p>

</div>
